# Discord webhook URLs
SOFTWARE_INTERNSHIPS_WEBHOOK_URL=
PRODUCT_MANAGEMENT_INTERNSHIPS_WEBHOOK_URL=
DATA_SCIENCE_ML_AI_INTERNSHIPS_WEBHOOK_URL=
QUANTITATIVE_FINANCE_INTERNSHIPS_WEBHOOK_URL=
HARDWARE_INTERNSHIPS_WEBHOOK_URL=
UNCATEGORIZED_INTERNSHIPS_WEBHOOK_URL=

OFFSEASON_SOFTWARE_INTERNSHIPS_WEBHOOK_URL=
OFFSEASON_PRODUCT_MANAGEMENT_INTERNSHIPS_WEBHOOK_URL=
OFFSEASON_DATA_SCIENCE_ML_AI_INTERNSHIPS_WEBHOOK_URL=
OFFSEASON_QUANTITATIVE_FINANCE_INTERNSHIPS_WEBHOOK_URL=
OFFSEASON_HARDWARE_INTERNSHIPS_WEBHOOK_URL=
OFFSEASON_UNCATEGORIZED_INTERNSHIPS_WEBHOOK_URL=

FULLTIME_SOFTWARE_WEBHOOK_URL=
FULLTIME_PRODUCT_MANAGEMENT_WEBHOOK_URL=
FULLTIME_DATA_SCIENCE_ML_AI_WEBHOOK_URL=
FULLTIME_QUANTITATIVE_FINANCE_WEBHOOK_URL=
FULLTIME_HARDWARE_WEBHOOK_URL=
FULLTIME_UNCATEGORIZED_WEBHOOK_URL=

# Vercel trigger endpoint
CRON_SECRET=
SIMPLIFY_DISCORD_REPO_WORKFLOW_DISPATCH=
